@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
        @apply font-montserrat
    }
}


.header .toggleMenu span{
    height: 0.5rem;
    width: 2rem;
    @apply bg-darkGray block mb-1 ml-auto
}

.header .toggleMenu span:nth-child(3){
    width:0.8rem;
}

.headerMobileNav{
    max-height: 0;
    overflow: hidden;
}
.headerMobileNav.active{
    max-height: 500px;
}

.theFigure .item:nth-child(1){
    @apply absolute left-[50%] -bottom-[12px] -translate-x-[120%] -translate-y-0
}

.theFigure .item:nth-child(2){
    @apply absolute left-[50%] bottom-0 -translate-x-[45%] -translate-y-0
}

.theFigure .item:nth-child(3){
    @apply absolute left-[50%] -bottom-[17px] translate-x-[38%] -translate-y-0
}



.portraitItem{
    box-shadow: rgba(14,30,37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px;
}

.portraitItem.active {
    @apply w-[700px] transition-all duration-500
}

.portraitItem-name .theName{
    transform: rotate(-90deg);
    margin-top: 5rem;
    width: 11rem;
    @apply mx-auto
}

.portraitItem.active .portraitItem-name .theName{
    transform: rotate(0);
    margin-top: 0;
}

.portraitItem.active .portraitItem-name .desc{
    @apply block
}